* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #b6b4b4;
  display: grid;
  place-items: center;
  min-height: 100vh;
  gap: 30px;
  padding: 100px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 0;
}

header {
  background-color: #6d6b6b;
  color: white;
  padding: 20px 0;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  font-family: sans-serif;
}

header h1 {
  text-align: center;
  margin: 0;
  font-size: 2em;
}

nav {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover,
nav ul li a:focus {
  background-color:  #8b8989;
  color: #FFF;
}

.card {
  width: 80%;
  margin-top: 5vh;
  outline: 5px solid  #8b8989;
  --blur: 16px;
  --size: clamp(300px, 50vmin, 600px);
  aspect-ratio: 4 / 3;
  position: relative;
  border-radius: 2rem;
  overflow: hidden;
  color: black;
  transform: translateZ(0);
}

.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(calc(1 + (var(--hover, 0) * 0.25))) rotate(calc(var(--hover, 0) * -5deg));
  transition: transform 0.2s;
}

.card__footer {
  padding: 0 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: red;
  display: grid;
  grid-template-row: auto auto;
  gap: 0.5ch;
  background: hsl(0 0% 100% / 0.5);
  backdrop-filter: blur(var(--blur));
  height: 30%;
  align-content: center;
}

.card__action {
  position: absolute;
  aspect-ratio: 1;
  width: calc(var(--size) * 0.15);
  bottom: 30%;
  right: 1.5rem;
  transform: translateY(50%) translateY(calc((var(--size) * 0.4))) translateY(calc(var(--hover, 0) * (var(--size) * -0.4)));
  background: purple;
  display: grid;
  place-items: center;
  border-radius: 0.5rem;
  background: hsl(0 0% 100% / 0.5);
  transition: transform 0.2s;
}

.card__action svg {
  aspect-ratio: 1;
  width: 50%;
}

.card__footer span:nth-of-type(1) {
  font-size: calc(var(--size) * 0.065);
}

.card__footer span:nth-of-type(2) {
  font-size: calc(var(--size) * 0.035);
}

.card:is(:hover, :focus-visible) {
  --hover: 1;
}
